.container {
  border: 1px solid red;
  display: inline-grid;
  grid-template-columns: 100px 100px 100px 100px 100px;
  grid-template-rows: 100px 100px 100px 100px 100px;
  grid-auto-rows: 100px;
  column-gap: 10px;
  row-gap: 10px;
  text-align: center;
}

.room {
}
#living-room,
#kitchen,
#bedroom,
#bathroom,
#closet {
  border: 1px solid blue;
}

#living-room {
  grid-column-start: 1;
  grid-column-end: 6;
}

#bathroom {
  grid-row-start: 2;
  grid-row-end: 6;
}

#bedroom {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 5;
}

#kitchen {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 6;
}

#closet {
  grid-column-start: 2;
  grid-column-end: 4;
}
